<h2 [class.titulo]="estilizarTitulo">{{message}}</h2>

<img [src]="imagePath" [style.width.px]="imageWidth">

<button [attr.aria-label]="ariaLabel" [disabled]="isDisabled" [style]="botaoFechar">x</button>

<button (click)="enableCloseButton()" [class]="botaoClass">Habilitar o botão Fechar</button>

<button (click)="aplicarEstiloTitulo()" [class]="botaoClass">Aplicar estilos</button>

<label for="nome">Nome:</label>
<input type="text" id="nome" [(ngModel)]="nomeCliente">

<span>O nome digitado é: </span><span id="nomeDigitado">{{nomeCliente}}</span>