<h2>Pipes</h2>

<h3>Datas</h3>

<p>{{ date | date }}</p>

<p>{{ date | date:'medium' }}</p>

<p>{{ date | date:'shortTime' }}</p>

<p>{{ date | date:'HH:mm:ss' }}</p>

<p>{{ date | date:'dd MM yyyy HH:mm' }}</p>

<h3>Textos</h3>

<label>Nome: </label>
<input type="text" #name (keyup)="changeName(name.value)">

<p>Em minúsculas: {{ nameText | lowercase }} </p>
<p>Em maiúsculas: {{ nameText | uppercase }}</p>

<h3>Moedas</h3>

<p>{{ value | currency }}</p>

<p>{{ value | currency:'BRL' }}</p>

<h3>Números Decimais</h3>

<p>Sem pipes: {{ pi }}</p>

<p>Colocando pipe: {{ pi | number }}</p>

<p>Especificando quantidade de dígitos: {{ pi | number: '1.1-6' }}</p>