* {
    font-family: sans-serif;
}

h1 {
    font-size: 35px;
    color: #212121
}

p {
    font-size: 18px;
}

button {
    font-size: 18px;
}

.botao {
    border: 0;
    padding: 15px;
    border-radius: 45px;
    font-size: 13px;
    cursor: pointer;
    margin: 10px 0
}

.botao:disabled {
    background: #c9c9c9;
    cursor: default;
}

.vermelho {
    background: #d10d0d;
    color: #fff
}

.verde {
    background: #158524;
    color: #fff
}

input[type=text],
select {
    height: 26px;
    border-radius: 15px;
    border: 1px solid #b8b8b8;
    margin-bottom: 5px;
    padding: 0 15px;
}